<div class='row'>
  <div class='col-12'>
    <div class='sign-in'>
      <section>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="card-wrapper border-0 shadow-sm">
              <div class="card fat">
                <div class="card-body">
                  <h4 class="card-title"><%= t('devise.sessions.new.sign_in') %></h4>
                  <hr />
                  <%= render 'form' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
