<div class='row'>
  <div class='col-12'>
    <div class='sign-in'>
      <section class="h-100">
        <div class="container h-100">
          <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
              <div class="card fat">
                <div class="card-body">
                  <h4 class="card-title"><%= t('devise.sessions.new.sign_in') %></h4>
                  <%= render 'form'%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
