<div class='my-3'>
  <%= link_to '掲示板', theme_path(theme, display_format: :bbs), class: "btn btn-secondary #{'active' if params[:display_format] == 'bbs' || params[:display_format].blank?}" %>
  <%= link_to 'マインドマップ', theme_path(theme, display_format: :mind_map), class: "btn btn-secondary #{'active' if params[:display_format] == 'mind_map'}" %>
  <%= link_to 'ホワイトボード', theme_path(theme, display_format: :white_board), class: "btn btn-secondary #{'active' if params[:display_format] == 'white_board'}" %>
</div>
