<div class='row'>
  <div class='col-12'>
    <div class="d-flex justify-content-center">
      <div class='col-8'>
        <% if notice.present? %>
          <div class="alert alert-primary" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <div class='row'>
          <div class='col'>
            <%= render 'form', theme: @theme, title: t('.title'), description: t('.description') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
