<link rel="stylesheet" href="https://unpkg.com/vue-mindmap/dist/vue-mindmap.css"></link>

<div id="mount-point">
  <app id='app' theme='<%= @theme.to_json %>'></app>
</div>

<%= javascript_pack_tag 'application' %>
