<% if notice.present? %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>


<h1><%= t('.title') %></h1>

<div class="card">
  <div class="card-body">
    <%= render 'form', theme: @theme %>
  </div>
</div>

<hr/>

<div class="actions pb-4">
  <%= link_to t("helpers.links.back"), themes_path, class: "btn btn-outline-primary" %>
</div>