/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require tagsinput
 *= require lightbox
 *= require bootstrap-select
 *= require font-awesome
 *= require_self
 */

//@import "bootstrap-custom";
.tree-in {
  float: left;
  border-color: gray;
  border-style: none none solid solid;
  border-width: 2px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  height: 12px;
  width: 10px;
  text-indent: -999999px;
  left: -12px;
}
// Font
html {
  font-size: 16px;
}

body {
  font-family: '';
  min-height: 100vh;
}

.themes-index-cover {
  background: #6DD5FA;
}

.theme-show-cover {
  background-color: rgb(147, 84, 202);
}

.title {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 0.2em;
}

.sub-title {}
