<footer>
  <div class='col-12 mt-5 mb-2'>
    <div class='copyright'>
      <div class='d-flex justify-content-center'>
        Copyright © 2018 East Back Corporation All Rights Reserved
      </div>
    </div>
  </div>
</footer>
